@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Condensed:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Silkscreen&display=swap');

body {
    font-family: 'Waiting for the Sunrise', cursive; 
    font-size:30px; 
    margin: 0 auto; 
    letter-spacing: 6px; 
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding-top: 400px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  @media only screen and (max-width: 700px) {
    body {
        font-family: 'Waiting for the Sunrise', cursive; 
        font-size:15px; 
        margin: 0 auto; 
        letter-spacing: 6px; 
        font-weight: bold;
        text-align: center;
        justify-content: center;
        padding-top: 300px;
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
      }
}